@{
    ViewData["Title"] = "Mensaje de Activación";
}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-6 offset-3 text-center">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="">Verificación de Cuenta</h3>
                    <p>Asegúrese de abrir el enlace de activación enviado a su correo electrónico en esta misma ventana para completar la verificación correctamente.</p>
                    
                    <a asp-controller="Login" asp-action="Index" class="btn btn-primary mt-3">Volver atrás</a>
                </div>
            </div>
        </div>
    </div>
</div>